<footer class="footer__wrap" id="section_contacts">
	<div class="footer__info">
		<div class="info-footer">
			<div class="info-footer__title">
				<h2 class="info-footer__caption">Остались вопросы?<br> Свяжитесь с нами!</h2>
			</div>
			<div class="info-footer__phone">
				Звоните: <span>8 (800) 1000 900</span>
			</div>
			<div class="info-footer__mail">
				Пишите: <span>hello@pinkapp.ru</span>
			</div>
			<div class="info-footer__address">
				Приезжайте в гости: <span>Санкт-Петербург,<br> Невский проспект, д. 20</span>
			</div>
		</div>
	</div>
	<div class="footer__map">
		<div id="map" class="google-map"></div>
	</div>
	<div class="footer__links">
		<div class="footer-links">
			<div class="footer-links__pink">
				<a href="#" class="footer-links__pink-link"></a>
			</div>
			<div class="footer-links__socials">
				<div class="footer-socials">
					<div class="footer-socials__item footer-socials__item_tw">
						<a href="#" class="footer-socials__link"></a>
					</div>
					<div class="footer-socials__item footer-socials__item_fb">
						<a href="#" class="footer-socials__link"></a>
					</div>
					<div class="footer-socials__item footer-socials__item_youtube">
						<a href="#" class="footer-socials__link"></a>
					</div>
				</div>
			</div>
			<div class="footer-links__copyright">
				<div class="footer-copyright">
					<span>Website by</span>
					<a href="#" class="footer-copyright__a"></a>
					<span>for</span>
					<a href="#" class="footer-copyright__htmlacademy"></a>
				</div>
			</div>
		</div>
	</div>
</footer>