<header class="header__wrap">
	<div class="header">
		<div class="header__logo">
			<div class="logo">
				<a href="#" class="logo__link">
					<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source
							media="(min-width: 970px)"
							srcset="img/logo-desktop.svg"
							type="image/svg+xml"
							>							
						<source
							media="(min-width: 700px)"
							srcset="img/logo-tablet.svg"
							type="image/svg+xml"
							>
						<source
							srcset="img/logo-1.svg"
							type="image/svg+xml"
							>							
					<!--[if IE 9]></video><![endif]-->		
						<img src="img/del.png" alt="Описание хедера..">
					</picture>
				</a>
			</div>	
		</div>
		<div class="header__button">
			<div class="button">
				<div class="button__item"></div>
				<div class="button__item"></div>
				<div class="button__item"></div>
			</div>
		</div>
		<menu class="header__menu">
			<ul class="menu">
				<li class="menu__item">
					<a href="#section_info" class="menu__link">Информация</a>
				</li>
				<li class="menu__item">
					<a href="#section_comments" class="menu__link">Отзывы</a>
				</li>
				<li class="menu__item">
					<a href="#section_price" class="menu__link">Стоимость</a>
				</li>
				<li class="menu__item">
					<a href="#section_contacts" class="menu__link">Контакты</a>
				</li>
			</ul>
		</menu>
	</div>
</header>