<div class="intro__wrap">
	<div class="intro">
		<div class="intro__title">
			<h2 class="intro__caption">Взгляните на жизнь <br> иначе!</h2>
		</div>
		<div class="intro__download">
			<div class="download">
				<div class="download__button">
					<a href="#" class="download__link">Скачать приложение</a>
				</div>
				<div class="download__oc">
					<div class="oc">
						<div class="oc__apple">
						</div>
						<div class="oc__android">
						</div>
						<div class="oc__win">
						</div>
					</div>
				</div>
				<div class="download__description">
					Доступно для iPhone, iPad, Android,<br> Windows phone, Mac OS, Windows 8
				</div>
			</div>
		</div>
	</div>
</div>